
.header {
    display: flex;
    background: #000;
}

.logo a {
    text-decoration: none;
    color:rgb(126, 254, 184);
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;

}


.menu {
    display: flex;
    margin: auto;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 18px;
    padding: 10px 0;
    justify-content: space-between;
    list-style: none;
}

.menu li:hover a {
    color: red;
}

.menu li a {
    color:rgb(126, 254, 184);
    padding: 10px 80px;
    justify-items: center;
    text-decoration: none;

}

.content img {
    width: 100%;
    height: 100vh;
    
}

.text {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 30px;
    font-weight: 800px;
    padding-left: 25px;
    padding-top: 20px 0;
    box-sizing: border-box;
}

.general ul {
    text-align: center ;
}

ul.information {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between ;
}

ul.information li {
    flex-basis: 14%;
    padding-right: 15px;
    box-sizing: border-box;
}

ul.information li img {
    max-width: 100%;
    height: auto;
    border-radius: 6rem;
}