.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 760px;
    min-height: 450px;
    margin: 50px auto 45px;
    padding-bottom: 100px;
    border: 1px solid #e3e1dc;
    border-radius: 5px;
    background-color: #ffffff;
}

.logo {
    color:rgb(126, 254, 184);
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    text-align: center;
}

.account-form {
    display: block;
    width: 363px;
    padding: 12px 15px;
    margin-bottom: 30px;
    border: 1px solid #dad8d3;
    border-radius: 3px;
    line-height: 14px;
    font-size: 12px;
    background-color: #ffffff;
    
}

.password-form {
    display: block;
    width: 363px;
    padding: 12px 15px;
    border: 1px solid #dad8d3;
    border-radius: 3px;
    line-height: 14px;
    font-size: 12px;
    background-color: #ffffff;
}

.button-login {
    display: block;
    width: 396px;
    padding: 12px 15px;
    border: 1px solid #dad8d3;
    border-radius: 3px;
    line-height: 14px;
    font-size: 12px;
    background-color: #ff3f3f;
    margin-top: 30px;
}
.button-sign {
    display: block;
    width: 396px;
    padding: 12px 15px;
    border: 1px solid #dad8d3;
    border-radius: 3px;
    line-height: 14px;
    font-size: 12px;
    background-color: #b6b6b6;
    margin-top: 30px;
}

.login {
    text-align: center;
    margin-top: 30px;
}


